<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>Add</title>
</head>

<body>
    <form action="/add" method="POST">
        <label for="item">Item</label>
        <input type="text" id="item" name="item">
        <input type="submit" value="Submit item">
    </form>
</body>

</html>