<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>Items</title>
</head>

<body>
    <ul>
        <% for(item of list) {%>
            <li>
                <%= item %>
            </li>
            <% } %>
    </ul>
    <a href="/add">Add</a>
</body>

</html>